In [7]:
import pandas as pd
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df2.head()

In [2]:
df2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df2.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [1]:
df2.dtypes=='object'

NameError: name 'df2' is not defined

In [6]:
df2.dtypes[df2.dtypes=='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [7]:
type(df2.dtypes[df2.dtypes=='object'])

pandas.core.series.Series

In [4]:
df2[df2.dtypes[df2.dtypes=='object'].index]

NameError: name 'df2' is not defined

In [5]:
df2[df2.dtypes[df2.dtypes=='object'].index]

NameError: name 'df2' is not defined

In [3]:
df2[df2.dtypes[df2.dtypes=='object'].index].describe()

NameError: name 'df2' is not defined